<!--包含头部文件-->
{include file="public/header" /}
<div class="cl pd-5 bg-1 bk-gray mt-20"> 添加售卖商品信息</div>
<article class="page-container">
  <form class="form form-horizontal" id="form-article-add" method="post" action="{:url('commodity/add')}">
    基本信息：
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>售卖商品名称：</label>
      <div class="formControls col-xs-8 col-sm-3">
        <input type="text" class="input-text" value="" placeholder="" id="" name="name">
      </div>
    </div>

    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属学校：</label>
      <div class="formControls col-xs-8 col-sm-2">
				<span class="select-box">
				<select name="area_id" class="select areaId">
                  <option value="0">--请选择--</option>
                  {volist name="areas" id="vo"}
                  <option value="{$vo.id}">{$vo.name}</option>
                  {/volist}
                </select>
				</span>
      </div>
      <div class="formControls col-xs-8 col-sm-2">
				<span class="select-box">
				<select name="area_id" class="select se_area_id">
                  <option value="0">--请选择--</option>
                </select>
				</span>
      </div>
    </div>

    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属分类：</label>
      <div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select name="classification_id" class="select classificationId">
                  <option value="0">--请选择--</option>
                  {volist name="classifications" id="vo"}
                  <option value="{$vo.id}">{$vo.name}</option>
                  {/volist}
                </select>
				</span>
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2">所属子类：</label>
      <div class="formControls col-xs-8 col-sm-3 skin-minimal">
        <div class="check-box se_classification_id">
        </div>
      </div>
    </div>


    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2">展示图：</label>
      <div class="formControls col-xs-8 col-sm-9">
        <input id="file_upload"  type="file" multiple="true" >
        <img style="display: none" id="upload_org_code_img" src="" width="150" height="150">
        <input id="file_upload_image" name="image" type="hidden" multiple="true" value="">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2">数量:</label>
      <div class="formControls col-xs-8 col-sm-3">
        <input type="text" class="input-text" value="" placeholder="" id="" name="count">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2">原价:</label>
      <div class="formControls col-xs-8 col-sm-3">
        <input type="text" class="input-text" value="" placeholder="" id="" name="origin_price">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2">转卖价:</label>
      <div class="formControls col-xs-8 col-sm-3">
        <input type="text" class="input-text" value="" placeholder="" id="" name="current_price">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2">售卖描述：</label>
      <div class="formControls col-xs-8 col-sm-9">
        <script id="editor"  type="text/plain" name="presentation" style="width:80%;height:300px;"></script>
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2">购买须知：</label>
      <div class="formControls col-xs-8 col-sm-3">
        <textarea name="notes" cols="" rows="" class="textarea" onKeyUp="$.Huitextarealength(this,100)"></textarea>
        <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
      </div>
    </div>

    <div class="row cl">
      <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
        <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 申请</button>
      </div>
    </div>
  </form>
</article>
<script>
  /**定义页面全局变量**/
  var SCOPE = {
    "area_url" : "{:url('api/area/getAreasByFatherId')}",
    "classification_url" : "{:url('api/classification/getClassificationByFatherId')}",
    "uploadify_swf" : "__STATIC__/admin/uploadify/uploadify.swf",
    "image_upload" : "{:url('api/image/upload')}",
  };

</script>
<!--包含头部文件-->
{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script src="__STATIC__/admin/hui/lib/My97DatePicker/WdatePicker.js"></script>
<script>
  $(function(){
    var ue = UE.getEditor('editor');
    var ue = UE.getEditor('editor2');
  });
</script>
</body>
</html>