<!--包含头部文件-->
{include file="public/header" /}
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span> 删除的会员 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="pd-20">
      <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
          <tr class="text-c">
            <th width="80">ID</th>
            <th width="100">用户名</th>
            <th width="100">手机号</th>
            <th width="150">邮箱</th>
            <th width="130">加入时间</th>
            <th width="130">删除时间</th>
            <th width="70">状态</th>
          </tr>
        </thead>
        <tbody>
          {volist name="dellist" id="vo"}
          <tr class="text-c">
            <td>{$vo.id}</td>
            <td>{$vo.username}</td>
            <td>{$vo.mobile}</td>
            <td>{$vo.email}</td>
            <td>{$vo.create_time}</td>
            <td>{$vo.update_time}</td>
            <td class="user-status"><a href="{:url('user/status',['id'=>$vo.id, 'status'=>$vo.status==1?4:1])}" title="点击修改状态">{$vo.status|status}</a></td>
          </tr>
          {/volist}
        </tbody>
      </table>
      <div id="pageNav" class="pageNav"></div>
    </div>
</body>
<!--包含头部文件-->
{include file="public/footer" /}