<aside class="Hui-aside">
  <input runat="server" id="divScrollValue" type="hidden" value="" />
  <div class="menu_dropdown bk_2">

	<dl id="menu-product">
	  <dt><i class="Hui-iconfont">&#xe620;</i> 售卖管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
	  <dd>
		<ul>
		  <li><a _href="{:url('commodity/index')}" data-title="售卖列表" href="javascript:void(0)">售卖列表</a></li>
		  <li><a _href="{:url('commodity/add')}" data-title="售卖商品添加" href="javascript:void(0)">售卖商品添加</a></li>
			<li><a _href="{:url('commodity/dellist')}" data-title="售卖下架列表" href="javascript:void(0)">售卖下架列表</a></li>
		</ul>
	  </dd>
	</dl>

	<dl id="menu-admin">
	  <dt><i class="Hui-iconfont">&#xe62d;</i> 账户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
	  <dd>
		<ul>
		  <li><a _href="{:url('account/passwordedit')}" data-title="修改密码" href="javascript:void(0)">修改密码</a></li>
		</ul>
	  </dd>
	</dl>

	<dl id="menu-product">
		<dt><i class="Hui-iconfont">&#xe620;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
		<dd>
			<ul>
				<li><a _href="{:url('order/index')}" data-title="订单列表" href="javascript:void(0)">订单列表</a></li>
			</ul>
		</dd>
	</dl>

  </div>
</aside>